<!DOCTYPE html>
<html>
    <head>
        <title>计时器</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
        <style>
            body{
                width: 100%;
                height: 100%;
            }
            .bg{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;

            }
            #timer{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);
                text-align: center;
            }
            .menu{
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            .menu::before{
                position: absolute; 
                top: -1px;
                content: "";  
                width:100%; 
                height: 1px;
                background-color: rgb(92, 91, 91);
            }
            .menu-item{
                float: left;
                height: 30px;
                background-color: rgb(255, 255, 255);
            }
            .menu-item:after{
                position: absolute; 
                left: 0;
                content: "";  
                width:1px; 
                height: 100%;
                background-color: rgb(92, 90, 90);
            }
            .category{
                margin-bottom: 20px;
            }
            .category-item{
                float: left;
                color: white !important;
            }
            .piezone{
                float: left;
            }
            .timeline,.timepie{
                padding:15px;
            }
            .arrow-left{
                float: left;
            }
            .arrow-right{
                float: right;
            }
            .timecontrol{
                width: 100%;
                padding: 15px;
                text-align: center;
            }
            .color-select>option:hover{
                background-color: violet;
            }
            .vertical-space{
                padding: 10px 0;
            }
            .category-item-move{
                transition:transform 1s;
            }
        </style>
    </head>
    <body >
        <div id="app">
            <div id="bg" class="bg"></div>
            <div id="timer">
                <p class="title"><h2 v-bind:style='{color:current.color}'>{{current.title}}</h2></p>
                <p class="current_time">当前：{{currentTime}}</p>
                <p class="total_time">累计：{{totalTime}}</p>
                <div class="category row btn-group">
                    <a v-for="item in orderCategory"  href="#" class="category-item btn btn-default" v-bind:class='{disabled:item.active}' v-on:click="start(item.id)" v-bind:style="{backgroundColor:item.color}" >{{item.title}}</a>
                    <a href="#" class="category-item btn btn-sm btn-secondary" data-toggle="modal" data-target="#categoryEditor">+</a>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col"><a  href="#" class="btn btn-sm btn-outline-primary" v-bind:class='{disabled:records.length==0}'  v-on:click="newDuration">开始新的周期</a></div>
                </div>
                <hr>
                <div id="chart" class="">
                    <div class="timeline row">
                        <canvas id="linezone"></canvas>
                    </div>
                    <div class="timepie row">
                        <canvas id="piezone" class="piezone"></canvas>
                        <!-- <div class="col col-sm-7">
                            <p class="pie-part" v-for="item in stat">{{item.title}}:{{item.time}}({{item.percent}}%)</p>
                        </div> -->
                    </div>
                    <div class="timecontrol">
                        <a href="#" v-on:click="prev" class="link arrow arrow-left" v-if="historyIndex>0"><</a>
                        <span>{{startTime}} —— {{endTime}}</span>
                        <a href="#" v-on:click="next" class="arrow arrow-right" v-if="historyIndex<history.length">></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col"><a class="btn btn-sm btn-light" v-on:click="returnCurrent"  v-bind:class='{disabled:historyIndex==history.length}'>返回当前周期</a></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="newDurationConfirm" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">请确认</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>开始新的周期会停止并归档当前计时记录，可在统计图向右滑动查看已归档记录</p>
                        <small>Tips：每天在睡觉前或睡觉后开始新的周期</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="doNewDuration">确定</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="categoryEditor" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">管理分类</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <transition-group 
                                name="category-item"
                                enter-active-class="animated slideInLeft"
                                leave-active-class="animated slideOutLeft"
                            >
                                <div class="row vertical-space" v-for="item in orderCategory" v-bind:key="item.id">
                                    <div class="input-group">   
                                        <button type="button" class="btn btn-danger input-group-prepend" v-on:click="delCategory(item.id)">X</button>                      
                                        <input type="text" placeholder="名称" class="form-control" v-model="item.title" v-on:change='updateCategory(item.id)'>
                                        <color-select v-bind:item='item' v-on:update-color="item.color=$event;updateCategory(item.id)"></color-select>
                                        <button class="btn btn-outline-secondary input-group-append" v-on:click="moveDown(item.id)">
                                            <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M6.646 11.646a.5.5 0 01.708 0L10 14.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd" d="M10 4.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                                                </svg>
                                        </button>
                                        <button class="btn btn-outline-secondary input-group-append" v-on:click="moveUp(item.id)">
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd" d="M9.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L10 5.707 7.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
                                                </svg>                                        </button>
                                    </div>
                                </div>
                            </transition-group>
                            <p class="text text-danger">{{message}}</p>
                            <div class="row vertical-space"><div class="col text-center"><a href="#" v-on:click="addCategory" class=" btn btn-sm btn-outline-primary">添加</a></div></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="row menu text-center sr-only">
                <div class="menu-item col col-sm-4">历史</div>
                <div class="menu-item col col-sm-4">主页</div>
                <div class="menu-item col col-sm-4">用户</div>
            </footer>
        </div>
    </body>
    <script>
        Vue.component('color-select',{
            props:[
                'item'
            ],
            data:function(){
                return {
                    colors:[
                        '#1ABC9C','#27AE60','#3498DB','#8E44AD','#34495E',
                        '#F39C12','#D35400','#E74C3C','#BDC3C7','#7F8C8D',
                        '#E9967A','#FF3D67','#6A5ACD','#2F4F4F','#000000',
                        '#CD5C5C','#FFC233','#A0522D','#059BFF','#FF8C00',
                        '#2E8B57','#90EE90','#87CEEB','#696969','#28A745',
                        '#B22222','#778899','#66CDAA','#191970','#C71585',
                        '#FFD700','#808000','#008080','#F08080','#DC143C',
                    ],
                    selected:this.item.color,//'#1ABC9C',
                    r:'',
                    g:'',
                    b:''
                }
            },
            watch:{
                r:function(v){
                    this.r=parseInt(v)
                    if(isNaN(this.r)) this.r=''
                    this.selected=this.selfColor()
                },
                g:function(v){
                    this.g=parseInt(v)
                    if(isNaN(this.g)) this.g=''
                    this.selected=this.selfColor()
                },
                b:function(v){
                    this.b=parseInt(v)
                    if(isNaN(this.b)) this.b=''
                    this.selected=this.selfColor()
                },
                selected:function(v){
                    this.$emit('update-color',v)
                }
            },
            methods:{
                selfColor:function(){
                    let c= ('#'+this.r.toString(16).padStart(2,'0')+this.g.toString(16).padStart(2,'0')+this.b.toString(16).padStart(2,'0')).toUpperCase()
                    return c
                    //return 'rgb("'+this.r+'","'+this.g+'","'+this.b+'")'
                },
                select:function(color){
                    this.r=parseInt(color.substr(1,2),16)
                    this.g=parseInt(color.substr(3,2),16)
                    this.b=parseInt(color.substr(5,2),16)
                }
            },
            mounted:function(){
                if(this.item.color.substr(0,1)==='#') this.select(this.item.color)
            },
            template:`
                    <div class="input-group-append dropleft">
                        <button class="btn dropdown-toggle" type="button" v-bind:style="{backgroundColor:selected}" style="color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">颜色</button>
                        <div class="dropdown-menu">
                            <a v-for='color in colors' class="" href="#" v-on:click="select(color)" style="width: 60px;"><div v-bind:style="{backgroundColor: color}" style="width: 20px;height: 15px;float: left;margin: 6px 5px;"></div></a>
                            <div class="clearfix"></div>
                            <div class="dropdown-divider"></div>
                            <div class="input-group" style="padding:10px; ">
                                <input type="text" class="form-control" placeholder="R" v-model='r' style="font-size:12px">
                                <input type="text" class="form-control" placeholder="G" v-model='g' style="font-size:12px">
                                <input type="text" class="form-control" placeholder="B" v-model='b' style="font-size:12px">
                            </div>
                        </div>
                    </div>`
        })
        function dateTime(d){
            return d.getMonth().toString().padStart(2,0)+'/'+d.getDate().toString().padStart(2,0)+' '+d.getHours().toString().padStart(2,0)+':'+d.getMinutes().toString().padStart(2,0)
        }
        function timeStr(h,m,s){
            return h.toString().padStart(2,0)+'h '+m.toString().padStart(2,0)+'m '+s.toString().padStart(2,0)+'s'
        }
        function drawPiePart(ctx,x,y,r,s,e,color){
            ctx.beginPath()
            ctx.moveTo(x,y)
            ctx.arc(x,y,r,s*Math.PI/180,e*Math.PI/180)
            ctx.fillStyle=color
            ctx.fill()
            ctx.closePath()
            // ctx.stroke()
        }
        function drawPie(id,data){
            var canvas=document.getElementById(id)
            canvas.height=120
            var ctx=canvas.getContext('2d')
            ctx.textBaseline = 'top'

            let total=0
            for(let i in data){
                total+=data[i].time
            }
            let start=0
            let y=10
            for(let i in data){
                let el=data[i]
                let per=el.time/total
                let end=start+per*360
                drawPiePart(ctx,60,50,50,start,end,el.color)
                drawRect(ctx,145,y,18,8,el.color)
                let t=el.time
                let h=Math.floor(t/3600)
                t%=3600
                let m=Math.floor(t/60)
                let s=Math.floor(t%60)
                let str=el.title+' '+timeStr(h,m,s)+'('+(per*100).toFixed(2)+'%)'
                ctx.fillStyle="black"
                ctx.fillText(str,170,y)
                y+=20
                start=end
            }
            let t=total
            let h=Math.floor(t/3600)
            t%=3600
            let m=Math.floor(t/60)
            let s=Math.floor(t%60)
            ctx.fillStyle="black"
            ctx.font="12px Arial bold"
            let str='总计 '+timeStr(h,m,s)
            ctx.fillText(str,170,y)

        }
        function drawRect(ctx,x,y,w,h,color){
                ctx.beginPath()
                ctx.moveTo(x,y)
                ctx.lineTo(x+w,y)
                ctx.lineTo(x+w,y+h)
                ctx.lineTo(x,y+h)
                ctx.closePath()
                ctx.fillStyle=color
                ctx.fill()
        }
        function drawSerial(id,data){
            var canvas=document.getElementById(id)
            canvas.height= 20
            let width=canvas.width
            let height=canvas.height
            var ctx=canvas.getContext('2d')

            let total=0
            for(let i=0;i<data.length;i++){
                total+=data[i].end-data[i].start
            }
            total/=1000
            let x=0
            for(let i=0;i<data.length;i++){
                let el = data[i]
                let time=Math.round(el.end-el.start)/1000
                let per=time/total
                let w=per*width
                drawRect(ctx,x,0,w,height,el.color)
                x+=w
            }
        }
        var app=new Vue({
            el:"#app",
            data:{
                message:'',
                current:{title:"",color:"red"},
                category:{
                    1:{
                        id:1,
                        order:1,
                        title:"工作",
                        color:'rgb(255,194,51)',
                        time:0,
                        active:false,
                    },
                    2:{
                        id:2,
                        order:2,
                        title:"休息",
                        color:'rgb(40,167,69)',
                        time:0,
                        active:false,
                    },
                    3:{
                        id:3,
                        order:3,
                        title:'娱乐',
                        color:'rgb(255,61,103)',
                        time:0,
                        active:false,
                    },
                    4:{
                        id:4,
                        order:4,
                        title:"其他",
                        color:'rgb(5,155,255)',
                        time:0,
                        active:false,
                    },
                },
                records:[
                    // {
                    //     cid:3,
                    //     start:new Date('2019-12-20 05:56:00'),
                    //     end:new Date('2019-12-20 05:57:01')
                    // },
                ],
                history:[],
                historyIndex:-1,
                startTime:'',
                endTime:''
            },
            computed:{
                totalTime:function(){
                    let total=0
                    for(let i=0;i<this.records.length;i++){
                        if(this.records[i].cid===this.current.id) total+=this.records[i].end-this.records[i].start
                    }

                    let t=total/1000
                    let h=Math.floor(t/3600)
                    t%=3600
                    let m=Math.floor(t/60)
                    t%=60
                    let s=Math.floor(t)
                    return timeStr(h,m,s)
                },
                currentTime:function(){
                    if(this.records.length>0){ 
                        let current=this.records[this.records.length-1]
                        let t=(current.end-current.start)/1000
                        let h=Math.floor(t/3600)
                        t%=3600
                        let m=Math.floor(t/60)
                        t%=60
                        let s=Math.floor(t)
                        return timeStr(h,m,s)
                    }
                },
                orderCategory:function(){
                    let list=[]
                    for(let title in this.category){
                        list.push(this.category[title])
                    }
                    list.sort(function(a,b){
                        return a.order-b.order
                    })
                    return list
                },
                stat:function(){
                    for(let i in this.category){
                        this.category[i].time=0
                    }
                    for(let i=0;i<this.records.length;i++){
                        let el=this.records[i]
                        let time=Math.round(el.end-el.start)/1000
                        this.category[el.cid].time+=time
                    }
                    return this.category
                },
                recordsW:function(){
                    for(let i=0;i<this.records.length;i++){
                        this.records[i]['color']=this.category[this.records[i].cid].color
                    }
                    return this.records
                }
            },
            methods:{
                start:function(id){
                    for(let i in this.category){
                        if (this.category[i].id===id){
                            this.category[i].active=true
                        }else{
                            this.category[i].active=false
                        }
                    }
                    this.current=this.category[id]
                    this.records.push({
                        cid:id,
                        start:new Date(),
                        end:new Date()
                    })
                },
                update:function(){
                    if(this.records.length>0){
                        this.records[this.records.length-1].end=new Date()
                        this.refreshDraw()
                    }
                },
                refreshDraw:function(){
                    if(this.historyIndex<this.history.length) return
                    drawPie("piezone",this.stat)
                    drawSerial("linezone",this.recordsW)
                    let last=this.records.length-1
                    if(last<0){
                        this.startTime=''
                        this.endTime=''
                    }else{
                        this.startTime=dateTime(this.records[0].start)
                        this.endTime=dateTime(this.records[last].end)
                    }
                },
                newDuration:function(){
                    $('#newDurationConfirm').modal()
                    return
                },
                doNewDuration:function(){
                    if(this.records.length==0) return;
                    this.loadHistory()
                    this.history.push({
                        category:this.category,
                        records:this.records
                    })
                    this.historyIndex=this.history.length
                    localStorage.setItem("history",JSON.stringify(this.history))

                    this.records=[]
                    this.current={}
                    for(let i in this.category){
                        this.category[i].active=false
                    }
                    this.refreshDraw()
                    $('#newDurationConfirm').modal('hide')
                },
                saveRecords:function(){
                    localStorage.setItem("records",JSON.stringify(this.records))
                },
                saveCategory:function(){
                    localStorage.setItem('category',JSON.stringify(this.category))
                },
                loadCategory:function(){
                    let c=localStorage.getItem('category')
                    if(c!=null){
                        this.category=JSON.parse(c)
                        for(let i in this.category){
                            this.category[i].active=false
                        }
                    }
                },
                loadRecords:function(){
                    let r=localStorage.getItem("records")
                    let list=JSON.parse(r)
                    if (list!==null) {
                        for(let i=0;i<list.length;i++){
                            list[i].start=new Date(list[i].start)
                            list[i].end=new Date(list[i].end)
                        }
                        this.records=list
                    }else{
                        this.records=[]
                    }
                },
                loadHistory:function(){
                    let h=localStorage.getItem("history")
                    this.history=JSON.parse(h)
                    if(this.history==null) this.history=[]
                    else for(let i=0;i<this.history.length;i++){
                        for(let j=0;j<this.history[i].records.length;j++){
                            this.history[i].records[j].start=new Date(this.history[i].records[j].start)
                            this.history[i].records[j].end=new Date(this.history[i].records[j].end)
                        }
                    }
                },
                prev:function(){
                    if(this.historyIndex<=0){
                        return
                    }else this.historyIndex--
                },
                next:function(){
                    if(this.historyIndex<this.history.length){
                        this.historyIndex++
                        if(this.historyIndex==this.history.length){
                            this.refreshDraw()
                        }
                    }
                },
                returnCurrent:function(){
                    this.historyIndex=this.history.length
                    this.refreshDraw()
                },
                addCategory:function(){
                    let max=0
                    let orderMx=0
                    for(let i in this.category){
                        if(this.category[i].id > max) max=this.category[i].id
                        if(this.category[i].order > orderMx) orderMx=this.category[i].order
                        console.log(this.category[i].title,this.category[i].order)
                    }
                    let id=parseInt(max)+1
                    this.$set(this.category,id,{
                        id:id,
                        title:'未命名',
                        color:'#BDC3C7',
                        order:orderMx+8
                    })
                },delCategory:function(id){
                    let find=false
                    for(let i=0;i<this.records.length;i++){
                        if(this.records[i].cid==id){
                            find=true
                            break
                        }
                    }
                    if (find){
                        this.message='该分类正在使用，无法删除'
                        return
                    }
                    this.$delete(this.category,id)
                },
                updateCategory:function(id,attr){
                    this.saveCategory()
                },
                moveUp:function(id){
                    let i=0
                    for(;i<this.orderCategory.length;i++){
                        if(this.orderCategory[i].id==id){
                            break
                        }
                    }
                    if(i>1){
                        this.category[this.orderCategory[i].id].order=(this.orderCategory[i-1].order+this.orderCategory[i-2].order)/2
                    }else if(i>0){
                        this.category[this.orderCategory[i].id].order=0
                    }
                },
                moveDown:function(id){
                    let i=0
                    for(;i<this.orderCategory.length;i++){
                        if(this.orderCategory[i].id==id){
                            break
                        }
                    }
                    if(i<this.orderCategory.length-2){
                        this.category[this.orderCategory[i].id].order=(this.orderCategory[i+1].order+this.orderCategory[i+2].order)/2
                    }else if(i<this.orderCategory.length-1){
                        this.category[this.orderCategory[i].id].order=this.orderCategory[i+1].order+8
                    }
                },
            },
            watch:{
                historyIndex:function(index){
                    if(index>=this.history.length || index<0){
                        return
                    }
                    let stat=this.history[index].category
                    for(let id in stat){
                        stat[id].time=0
                    }
                    let list=this.history[index].records
                    for(let i=0;i<list.length;i++){
                        list[i].color=stat[list[i].cid].color
                        stat[list[i].cid].time+=Math.round((list[i].end-list[i].start)/1000)
                    }
                    drawSerial('linezone',list)
                    drawPie("piezone",stat)
                    let last=list.length-1
                    this.startTime=dateTime(list[0].start)
                    this.endTime=dateTime(list[last].end)
                },
                message:function(){
                    if(this.message=="") return
                    setTimeout(() => {
                        this.message=""
                    }, 3000);
                },
                category:function(){
                    this.saveCategory()
                },
                records:function(){
                    this.saveRecords()
                }
            },
            mounted:function(){
                this.loadCategory()
                this.loadHistory()
                this.historyIndex=this.history.length
                this.loadRecords()
                if(this.records.length>0) {
                    let last=this.records.length-1
                    this.current=this.category[this.records[last].cid]
                    this.category[this.current.id].active=true
                }
                this.refreshDraw()
            }
        })
        setInterval(app.update,1000)
        var hm=new Hammer(document.getElementById('chart'))
        hm.on('swiperight',()=>{
            app.prev()
        })
        hm.on('swipeleft',()=>{
            app.next()
        })
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0c57bb66e5b9a8238afc656d2d68e48d";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
            
</html>
