<!DOCTYPE html>
<html>
    <head>
        <title>计时器</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <style>
            body{
                width: 100%;
                height: 100%;
            }
            .bg{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;

            }
            #timer{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);
                text-align: center;
            }
            .menu{
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            .menu::before{
                position: absolute; 
                top: -1px;
                content: "";  
                width:100%; 
                height: 1px;
                background-color: rgb(92, 91, 91);
            }
            .menu-item{
                float: left;
                height: 30px;
                background-color: rgb(255, 255, 255);
            }
            .menu-item:after{
                position: absolute; 
                left: 0;
                content: "";  
                width:1px; 
                height: 100%;
                background-color: rgb(92, 90, 90);
            }
            .category{
                margin-bottom: 20px;
            }
            .category-item{
                float: left;
            }
            .piezone{
                float: left;
            }
            .timeline,.timepie{
                padding:15px;
            }
            .arrow-left{
                float: left;
            }
            .arrow-right{
                float: right;
            }
            .timecontrol{
                width: 100%;
                padding: 15px;
                text-align: center;
            }
        </style>
    </head>
    <body >
        <div id="app">
            <div id="bg" class="bg"></div>
            <div id="timer">
                <p class="title"><h2 v-bind:style='{color:current.color}'>{{current.title}}</h2></p>
                <p class="current_time">当前：{{currentTime}}</p>
                <p class="total_time">累计：{{totalTime}}</p>
                <div class="category row btn-group">
                    <a v-for="item in category" type="button" class="category-item btn btn-default" v-bind:class='{disabled:item.active}' v-on:click="start(item.title)" v-bind:style="{backgroundColor:item.color}">{{item.title}}</a>
                    <a type="button" class="btn btn-sm btn-default" style="background-color: bisque;">+</a>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col"><button class="btn btn-sm btn-primary btn-block" v-on:click="newDuration">开始新的周期</button></div>
                </div>
                <hr>
                <div id="chart" class="">
                    <div class="timeline row">
                        <canvas id="linezone"></canvas>
                    </div>
                    <div class="timepie row">
                        <canvas id="piezone" class="piezone"></canvas>
                        <!-- <div class="col col-sm-7">
                            <p class="pie-part" v-for="item in stat">{{item.title}}:{{item.time}}({{item.percent}}%)</p>
                        </div> -->
                    </div>
                    <div class="timecontrol">
                        <a href="#" v-on:click="prev" class="link arrow arrow-left" v-if="historyIndex>0"><</a>
                        <span>{{startTime}} —— {{endTime}}</span>
                        <a href="#" v-on:click="next" class="arrow arrow-right" v-if="historyIndex<history.length">></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col" v-if='historyIndex<history.length'><button class="btn btn-sm btn-light btn-block" v-on:click="returnCurrent">返回当前周期</button></div>
                    </div>
                </div>
            </div>
            <footer class="row menu text-center sr-only">
                <div class="menu-item col col-sm-4">历史</div>
                <div class="menu-item col col-sm-4">主页</div>
                <div class="menu-item col col-sm-4">用户</div>
            </footer>
        </div>
    </body>
    <script>
        function dateTime(d){
            return d.getMonth().toString().padStart(2,0)+'/'+d.getDate().toString().padStart(2,0)+' '+d.getHours().toString().padStart(2,0)+':'+d.getMinutes().toString().padStart(2,0)
        }
        function timeStr(h,m,s){
            return h.toString().padStart(2,0)+'h '+m.toString().padStart(2,0)+'m '+s.toString().padStart(2,0)+'s'
        }
        function drawPiePart(ctx,x,y,r,s,e,color){
            ctx.beginPath()
            ctx.moveTo(x,y)
            ctx.arc(x,y,r,s*Math.PI/180,e*Math.PI/180)
            ctx.fillStyle=color
            ctx.fill()
            ctx.closePath()
            // ctx.stroke()
        }
        function drawPie(id,data){
            var canvas=document.getElementById(id)
            canvas.height=120
            var ctx=canvas.getContext('2d')
            ctx.textBaseline = 'top'

            let total=0
            for(let i in data){
                total+=data[i].time
            }
            let start=0
            let y=10
            for(let i in data){
                let el=data[i]
                let per=el.time/total
                let end=start+per*360
                drawPiePart(ctx,60,50,50,start,end,el.color)
                drawRect(ctx,145,y,18,8,el.color)
                let t=el.time
                let h=Math.floor(t/3600)
                t%=3600
                let m=Math.floor(t/60)
                let s=Math.floor(t%60)
                let str=el.title+' '+timeStr(h,m,s)+'('+(per*100).toFixed(2)+'%)'
                ctx.fillStyle="black"
                ctx.fillText(str,170,y)
                y+=20
                start=end
            }
            let t=total
            let h=Math.floor(t/3600)
            t%=3600
            let m=Math.floor(t/60)
            let s=Math.floor(t%60)
            ctx.fillStyle="black"
            ctx.font="12px Arial bold"
            let str='总计 '+timeStr(h,m,s)
            ctx.fillText(str,170,y)

        }
        function drawRect(ctx,x,y,w,h,color){
                ctx.beginPath()
                ctx.moveTo(x,y)
                ctx.lineTo(x+w,y)
                ctx.lineTo(x+w,y+h)
                ctx.lineTo(x,y+h)
                ctx.closePath()
                ctx.fillStyle=color
                ctx.fill()
        }
        function drawSerial(id,data){
            var canvas=document.getElementById(id)
            canvas.height= 20
            let width=canvas.width
            let height=canvas.height
            var ctx=canvas.getContext('2d')

            let total=0
            for(let i=0;i<data.length;i++){
                total+=data[i].end-data[i].start
            }
            let x=0
            for(let i=0;i<data.length;i++){
                let el = data[i]
                let time=el.end-el.start
                let per=time/total
                let w=per*width
                drawRect(ctx,x,0,w,height,el.color)
                x+=w
            }
        }
        var app=new Vue({
            el:"#app",
            data:{
                current:{title:"",color:"red"},
                category:{
                    '工作':{
                        title:"工作",
                        color:'rgb(255,193,7)',
                        time:0,
                        active:false,
                    },
                    '休息':{
                        title:"休息",
                        color:'rgb(40,167,69)',
                        time:0,
                        active:false,
                    },
                    '娱乐':{
                        title:'娱乐',
                        color:'rgb(220,53,69)',
                        time:0,
                        active:false,
                    },
                    '其他':{
                        title:"其他",
                        color:'rgb(23,162,184)',
                        time:0,
                        active:false,
                    },
                },
                records:[
                    // {
                    //     title:'工作',
                    //     start:new Date('2019-12-20 05:56:00'),
                    //     end:new Date('2019-12-20 05:57:01')
                    // },
                    // {
                    //     title:'娱乐',
                    //     start:new Date('2019-12-20 05:57:00'),
                    //     end:new Date('2019-12-20 05:57:01')
                    // }
                ],
                history:[],
                historyIndex:-1,
                startTime:'',
                endTime:''
            },
            computed:{
                totalTime:function(){
                    let total=0
                    for(let i=0;i<this.records.length;i++){
                        if(this.records[i].title===this.current.title) total+=this.records[i].end-this.records[i].start
                    }

                    let t=total/1000
                    let h=Math.floor(t/3600)
                    t%=3600
                    let m=Math.floor(t/60)
                    t%=60
                    let s=Math.floor(t)
                    return timeStr(h,m,s)
                },
                currentTime:function(){
                    if(this.records.length>0){ 
                        let current=this.records[this.records.length-1]
                        let t=(current.end-current.start)/1000
                        let h=Math.floor(t/3600)
                        t%=3600
                        let m=Math.floor(t/60)
                        t%=60
                        let s=Math.floor(t)
                        return timeStr(h,m,s)
                    }
                },
                curCat:function(){
                    let list=[]
                    for(let name in this.category){
                        let el=this.category[name]
                        if (el.title!=this.current.title){
                            list.push(el)
                        }
                    }
                    return list
                },
                stat:function(){
                    for(let i in this.category){
                        this.category[i].time=0
                    }
                    for(let i=0;i<this.records.length;i++){
                        let el=this.records[i]
                        let time=Math.round(el.end-el.start)/1000
                        this.category[el.title].time+=time
                    }
                    return this.category
                },
                recordsW:function(){
                    for(let i=0;i<this.records.length;i++){
                        this.records[i]['color']=this.category[this.records[i].title].color
                    }
                    return this.records
                }
            },
            methods:{
                start:function(title){
                    for(let i in this.category){
                        if (this.category[i].title===title){
                            this.category[i].active=true
                        }else{
                            this.category[i].active=false
                        }
                    }
                    this.current=this.category[title]
                    this.records.push({
                        title:title,
                        start:new Date(),
                        end:new Date()
                    })
                    this.saveRecords()
                },
                update:function(){
                    if(this.records.length>0){
                        this.records[this.records.length-1].end=new Date()
                        this.refreshDraw()
                        this.saveRecords()
                    }
                },
                refreshDraw:function(){
                    if(this.historyIndex<this.history.length) return
                    drawPie("piezone",this.stat)
                    drawSerial("linezone",this.recordsW)
                },
                newDuration:function(){
                    if(this.records.length==0) return;
                    this.loadHistory()
                    this.history.push(this.records)
                    this.historyIndex=this.history.length
                    localStorage.setItem("history",JSON.stringify(this.history))
                    this.records=[]
                    this.current={}
                    this.saveRecords()
                    for(let i in this.category){
                        this.category[i].active=false
                    }
                },
                saveRecords:function(){
                    localStorage.setItem("records",JSON.stringify(this.records))
                },
                loadRecords:function(){
                    let r=localStorage.getItem("records")
                    let list=JSON.parse(r)
                    if (list!==null) {
                        for(let i=0;i<list.length;i++){
                            list[i].start=new Date(list[i].start)
                            list[i].end=new Date(list[i].end)
                        }
                        this.records=list
                    }else{
                        this.records=[]
                    }
                },
                loadHistory:function(){
                    let h=localStorage.getItem("history")
                    this.history=JSON.parse(h)
                    if(this.history==null) this.history=[]
                    else for(let i=0;i<this.history.length;i++){
                        for(let j=0;j<this.history[i].length;j++){
                            this.history[i][j].start=new Date(this.history[i][j].start)
                            this.history[i][j].end=new Date(this.history[i][j].end)
                        }
                    }
                },
                prev:function(){
                    if(this.historyIndex<=0){
                        return
                    }else this.historyIndex--
                },
                next:function(){
                    if(this.historyIndex<this.history.length){
                        this.historyIndex++
                        if(this.historyIndex==this.history.length){
                            this.refreshDraw()
                        }
                    }
                },
                returnCurrent:function(){
                    this.historyIndex=this.history.length
                    this.refreshDraw()
                }
            },
            watch:{
                historyIndex:function(index){
                    console.log(index,this.history.length,index>=this.history.length || index<0)
                    if(index>=this.history.length || index<0){
                        return
                    }
                    let stat={}
                    for(let title in this.category){
                        stat[title]=Object.assign(this.category[title],{time:0})
                    }
                    let list=this.history[index]
                    for(let i=0;i<list.length;i++){
                        list[i].color=this.category[list[i].title].color
                        stat[list[i].title].time+=Math.round((list[i].end-list[i].start)/1000)
                    }
                    console.log(list,stat)
                    drawSerial('linezone',list)
                    drawPie("piezone",stat)
                    let last=list.length-1
                    this.startTime=dateTime(list[last].start)
                    this.endTime=dateTime(list[last].end)
                }
            },
            mounted:function(){
                this.loadHistory()
                this.historyIndex=this.history.length
                this.loadRecords()
                if(this.records.length>0) {
                    let last=this.records.length-1
                    this.current=this.category[this.records[last].title]
                    this.category[this.current.title].active=true
                    this.startTime=dateTime(this.records[last].start)
                    this.endTime=dateTime(this.records[last].end)
                }
                this.refreshDraw()
            }
        })
        setInterval(app.update,1000)
        var hm=new Hammer(document.getElementById('chart'))
        hm.on('swiperight',()=>{
            app.prev()
        })
        hm.on('swipeleft',()=>{
            app.next()
        })
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0c57bb66e5b9a8238afc656d2d68e48d";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
            
</html>
